{
  "domain": "Put your own Auth0 tenant domain here",
  "clientId": "Put your own My SPA app client ID here",
  "audience": "YOUR_API_IDENTIFIER",
  "scope": "openid email profile read:messages"
}
